<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ztory.lib.sleek" >

    <application
        android:allowBackup="false"
        android:label="SleekApplication" >
        <activity
            android:name="com.ztory.lib.sleek.SleekActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
